*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Space Mono";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  background-color: #c5e4e7;
  min-height: 100vh;
}

.head-line img {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-inline: auto;
}

.context {
  background-color: #ffffff;
  box-shadow: 0px 32px 43px 0px #4fa6af33;
  max-width: 920px;
  margin-inline: auto;
}

.card {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  gap: 32px;
  padding-block: 32px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.bill {
  padding-inline: 32px;
}

.bill h3,
.select-tip h3,
.number-people h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  color: #5e7a7d;
  margin-bottom: 6px;
}

.bill input,
.select-tip input,
.number-people input {
  width: 100%;
  background-color: #f3f9fa;
  border-style: none;
  padding-block: 6px;
  padding-left: 19.26px;
  padding-right: 17.48px;
}

.select-tip,
.number-people {
  padding-inline: 32px;
}

.bill input {
  background-image: url("../img/dolar-icon.svg");
  background-repeat: no-repeat;
  text-align: end;
  background-position: left center;
}

.number-people input {
  background-image: url("../img/avatar-icon.svg");
  background-repeat: no-repeat;
  text-align: end;
  background-position: left center;
}

.result-card {
  background-color: #00474b;
  border-radius: 15px;
  padding: 37px 22px 24px 24px;
  margin: 32px 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.tip-amount,
.total {
  display: flex;
  justify-content: space-between;
}

.tip-amount {
  margin-bottom: 20px;
}

.result-card h3,
.total h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  color: #ffffff;
}

.result-card span,
.total span {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  color: #7f9d9f;
}

.amount-price span,
.total-price span {
  font-size: 32px;
  font-weight: 700;
  line-height: 47.39px;
  letter-spacing: -0.6666666865348816px;
  color: #26c2ae;
}

.calc-button,
.reset-button {
  background-color: #26c2ae;
  border-style: none;
  border-radius: 5px;
  padding: 9px 32px;
}

.calc-button:hover,
.reset-button:hover {
  cursor: pointer;
}

.calc-button:active,
.reset-button:active {
  background-color: #9fe8df;
}

.calc-button span,
.reset-button span {
  color: #00474b;
  font-size: 20px;
  font-weight: 700;
  line-height: 29.62px;
}

.warn-text {
  color: #e17457;
}

.number-people-title {
  display: flex;
  justify-content: space-between;
}

@media (width > 768px) {
  .head-line img {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    box-shadow: none;
    border-radius: 25px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 45px 0px 48px 48px;
    padding-block: 0;
    box-shadow: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .bill {
    padding-inline: 32px;
  }

  .bill h3,
  .select-tip h3,
  .number-people h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 23.7px;
    color: #5e7a7d;
    margin-bottom: 6px;
  }

  .bill input,
  .select-tip input,
  .number-people input {
    width: 100%;
    background-color: #f3f9fa;
    border-style: none;
    padding-block: 6px;
    padding-left: 19.26px;
    padding-right: 17.48px;
  }

  .select-tip,
  .number-people {
    padding-inline: 32px;
  }

  .bill input {
    background-image: url("../img/dolar-icon.svg");
    background-repeat: no-repeat;
    text-align: end;
    background-position: left center;
  }

  .number-people input {
    background-image: url("../img/avatar-icon.svg");
    background-repeat: no-repeat;
    text-align: end;
    background-position: left center;
  }

  .result-card {
    background-color: #00474b;
    border-radius: 15px;
    padding: 40px;
    margin: 32px 32px 32px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .tip-amount,
  .total {
    display: flex;
    justify-content: space-between;
  }

  .tip-amount {
    margin-bottom: 20px;
  }

  .result-card h3,
  .total h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 23.7px;
    color: #ffffff;
  }

  .result-card span,
  .total span {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.25px;
    color: #7f9d9f;
  }

  .amount-price span,
  .total-price span {
    font-size: 32px;
    font-weight: 700;
    line-height: 47.39px;
    letter-spacing: -0.6666666865348816px;
    color: #26c2ae;
  }

  .calc-button,
  .reset-button {
    background-color: #26c2ae;
    border-style: none;
    border-radius: 5px;
    padding: 9px 32px;
  }

  .calc-button span,
  .reset-button span {
    color: #00474b;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.62px;
  }

  .warn-text {
    color: #e17457;
  }

  .number-people-title {
    display: flex;
    justify-content: space-between;
  }
}
